%section
  %h1 Updates on high-energy interferometry
%section
  %h2 Polychromatic visibility
  %p
    %a{href: "http://enucatl.github.io/spectrum_visibility"} spectrum_visibility online tool
%section
  %h2 KIT gratings
  %p
    %a{href: "http://enucatl.github.io/kit-edgeon-gratings/"} visibility for different grating sets
  %p
    visibility ~11%, up from 7.5% on
    %a{href: "http://enucatl-presentations.github.io/2014.11.18.progress.report/#/5/2"} my previous report
  %p
    Best setup currently 120 keV, 1st order, with KIT G0 and microworks G1/G2
%section
  %h2 Edge-on mythen
  %p
    used now for all experiments, stable software and
    %a{href: "https://github.com/Enucatl/spec-mythen"} spec bindings
%section
  %h2 Bunker 4 @ SLS
  %ul
    %li source installed and tested
    %li radiation safety failed
  %p
    logbook on the
    %a{href: "https://tracker.psi.ch/jira/browse/TCNS-14"} issue tracker
%section
  %h2 Bunker 4 @ SLS
  %p The whole bunker needs fixes
  %ul
    %li concrete walls
    %li inner wall
    %li chicane for cables
    %li door
%section
  %h2 Pilatus experiments
